@charset "UTF-8";

body {
    background-color: black;
    background-image: url(imagens/wallpaper002.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

main {
    background-color: white;
    width: 400px;
    padding: 10px;
    margin: auto;
    border: 1px solid darkgray;
    border-radius: 15px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}