* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("gtrfundo.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 0;
    
    
}

.cel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    
    
}

.telaiphone {
    width: 191px;
    height: 414px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    
}

#redes img {
    width: 80px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
   
    
}

#redes img:hover {
    transition: 0.5s;
    transform: translate(-2px, -2px);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transform: translate(-2px, -2px);
    -moz-transform: translate(-2px, -2px);
    -ms-transform: translate(-2px, -2px);
    -o-transform: translate(-2px, -2px);
}

.redesclass {
   
    margin-top: 580px;
    margin-left: 582px;
}


   